.user-section-items {
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.user-section-item {
  width: 100%
}

@media only screen and (min-width: 600px) {
  .user-section-items {
    flex-direction: row;
  }
  .user-section-item {
    width: calc(33.33% - 30px)
  }
}