.repo-section-items {
  display: flex;
  flex-direction: column;
  gap: 30px
}

.repo-section-item {
  width: 100%
}


@media only screen and (min-width: 600px) {
  .repo-section-items {
    flex-direction: row;
  }
  
  .repo-section-item {
    width: calc(25% - 30px)
  }
}